.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    color: rgb(73, 73, 73);
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
}

.pic-username {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.pic,
.username,
.info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(190, 190, 190);
    border-radius: 12px;
    padding: 1rem;
    box-sizing: border-box;
}

.pic {
    margin-right: 0.5rem;
    margin-left: 1rem;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}

.username {
    margin-left: 0.5rem;
    width: 100%;
    margin-right: 1rem;
}

.info-item {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(190, 190, 190);
    border-radius: 12px;
}

.info-item label,
.pic label,
.username label {
    min-width: 100px;
    margin-right: 1rem;
    text-align: right;
    font-weight: 500;
    color: rgb(73, 73, 73);
}

.info-item input,
.pic input,
.username input {
    flex: 1;
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #f8fafc;
    margin-top: 0.5rem;
}

@media (max-width: 600px) {
    .pic-username {
        flex-direction: column;
        gap: 0.5rem;
    }
}