.book-session-container.wide-form {
    width: 40%;
    margin: 3rem auto;
    padding: 3rem 4rem;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .book-session-container h1 {
    color: #2c3e50;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
  }
  
  .booking-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%
  }
  
  .wide-form.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    font-weight: 600;
    color: #2c3e50;
    font-size: 0.9rem;
  }
  
  .wide-form .form-input {
    padding: 1.2rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: border 0.3s;
    min-width: 100%;
    color: #333; 
    background-color: #fff; 
  }
  
  .form-input::placeholder {
    color: #999; 
  }
  
  .form-input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
  }
  
  .book-now-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 14px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
    margin-top: 1rem;
  }
  
  .book-now-button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  input[type="datetime-local"] {
    color: #333;
  }
  
  
  input, textarea, select {
    color: #333 !important;
  }