/* Header Styling */
header {
    background: var(--primary-header, #cfb39d);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1.5rem;
    padding: 1rem 01.5rem;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

nav a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.3s;
    height: 100%;
    border-radius: 5px;
}

li a:hover {
    background-color: #555;
}

#EHTitle {
    font-size: 32px; /* added px */
    color: white;
    justify-content: left;
}

.header-student {
  background-color: #cfb39d; /* Example student color */
}
.header-parent {
  background-color: #4a90e2; /* Example parent color */
}